/rate_of_profit_plot.png
/rate_of_profit_plot.jpg
/jst_dataset_openness .xlsx
/world_exports.csv
/main_sheets_allvariables.gsheet
/ineqImperialism.dta
/rop_foreign_assets_merged.xlsx
/1stglobal.parquet
/terms_of_trade
/1st_global.xlsx
/TRADHIST_GRAVITY_BILATERAL_TIME_VARIANT_1.xlsx
/TRADHIST_BITRADE_BITARIFF_1.xlsx
/geo_cepii.xls
/dist_cepii.xls
/global_(above) and european (below) annual average near-surface temperature anomalies relative to the pre-industrial period 1850-1900.csv
/population-federico-tena-junguito.xlsx
/population_data
/dyadic_trade_bilateral_pop.csv
/panel_iv_1st_global.R
/.Rhistory
/gdp-per-capita-maddison-project-database.zip
/TRADHIST_GDP_POP.xlsx
/1st_global.log
/1st_global.synctex(busy)